body
{
    background-color: grey;
    
}
.form
{
    padding: 2px;
}
.head
{
    color: red;
    width: 40%;
    margin: auto;
    font-size: 20px;
    
}
input[type="text"],input[type="tel"],input[type=date],input[type=number],input[type=password],.option
{
    width: 350px;
    padding: 5px;
}
.add
{
    width: 358px;
    height: 100px;
}
.th
{
    width: 250px;
    text-align: left;
}
input[type=submit]
{
    background-color: green;
    color: white;
    border: none;
    padding: 8px;
}